

.saiba-mais {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.saiba-mais:hover {
  color: rgb(255, 255, 0);
}

.carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 50%;
  opacity: 0;  /* Initially hidden */
  transition: opacity 0.3s;  /* Smooth transition */
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1;  /* Show on hover */
}



