.icon-select-container {
    display: flex;
    align-items: center;
  }
  .icon-select-container i {
    margin-right: 10px;
  }
  
.message-box {

    border: 2px solid black;
    border-radius: 2px;

}

.user-image img {

    border: 2px solid white; /* Borda branca para o círculo */

}